<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dibage.accountb"
    tools:ignore="MissingLeanbackLauncher">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.fingerprints.service.ACCESS_FINGERPRINT_MANAGER" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <!--意味着该应用程序不需要硬件摄像头功能来支持其基本功能，但是它可能需要使用一些与摄像头相关的其他功能，例如图像处理或视频回放。-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".applications.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/accountb"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.AddAccountActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".activity.MoreActivity" />
        <activity android:name=".activity.ValidateActivity" />
        <activity
            android:name=".activity.SearchActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".activity.SettingPasswordActivity" />
        <activity android:name=".activity.AddPhotoActivity" />
        <activity android:name=".activity.ModifyPasswordActivity" />
        <activity android:name=".activity.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CardActivity" />
        <activity android:name=".activity.EditAccountActivity" />
        <activity android:name=".activity.CardDetailActivity" />
        <activity android:name=".activity.RecorveyActivity" />
        <activity android:name=".base.BaseActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.dibage.accountb.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.OpenSourceActivity"></activity>
    </application>

</manifest>