<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dibage.accountb">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.fingerprints.service.ACCESS_FINGERPRINT_MANAGER" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name=".applications.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/accountb"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitys.MainActivity" />
        <activity
            android:name=".activitys.AddAccountActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".activitys.MoreActivity" />
        <activity android:name=".activitys.ValidateActivity" />
        <activity
            android:name=".activitys.SearchActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".activitys.SettingPasswordActivity" />
        <activity android:name=".activitys.AddPhotoActivity" />
        <activity android:name=".activitys.ModifyPasswordActivity" />
        <activity android:name=".activitys.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.CardActivity" />
        <activity android:name=".activitys.EditAccountActivity" />
        <activity android:name=".activitys.CardDetailActivity"></activity>
    </application>

</manifest>